		<div class="row no_bm">
			<div class="dark_menu sixteen columns">
				<div id="menu">
					<ul>
						<li><a href="{{site.baseurl}}/handicap/index.html" class="active"><span class="home_icon"></span></a></li>
					  	<li><a href="{{site.baseurl}}/handicap/index.html">Hjem<span></span></a>
					    	<div>
					          	<ul>
							  		<li><a href="{{site.baseurl}}/handicap/om-os.html"><span>Om os</span></a></li>
							  		<li><a href="{{site.baseurl}}/handicap/vision.html"><span>Vision</span></a></li>	
								</ul>
					       </div>
					  	</li>				  	
					    <li><a href="{{site.baseurl}}/handicap/handicap.html">handicap<span></span></a>
					    	<div>
					          	<ul>
							  		<li><a href="{{site.baseurl}}/handicap/handicap.html"><span>handicap</span></a></li>
							  		<li><a href="{{site.baseurl}}/handicap/paaroerende.html"><span>Pårørende</span></a></li>
					    			<li><a href="{{site.baseurl}}/handicap/referencer.html"><span>Reference</span></a></li>
								</ul>
					       </div>
					    </li>
					  	<li><a href="{{site.baseurl}}/handicap/ydelser.html">Ydelser</a></li>
					    <li><a href="{{site.baseurl}}/handicap/job.html">Job</a></li>
					    <li><a href="{{site.baseurl}}/handicap/kontakt.html">Kontakt os</a></li>
					    <li><a href="#">Login<span></span></a>
							<div>
					          	<ul>
							  		<li><a href="{{site.baseurl}}/handicap/login_hj.html"><span>Hjælper</span></a></li>
							  		<li><a href="{{site.baseurl}}/handicap/login_kontor.html"><span>Kontor</span></a></li>
								</ul>
					       </div>
					    </li>
						<li><a href="{{site.baseurl}}/handicap/blog.html">Blog<span></span></a></li>	
					</ul>
				</div>			
				<select id="select_menu" onchange="location = this.value">
			  		<option value="">Vælg side</option>
			        <option value="{{site.baseurl}}/index.html">Hjem</option>			        
			        <option value="{{site.baseurl}}/hjemmepleje.html">Hjemmepleje</option>
			        <option value="{{site.baseurl}}/paaroerende.html">Pårørende</option>	
			        <option value="{{site.baseurl}}/ydelser.html">Ydelser</option>
			        <option value="{{site.baseurl}}/referencer.html">Referencer</option>	        
			        <option value="{{site.baseurl}}/job.html">Job</option>    
			        <option value="{{site.baseurl}}/kontakt.html">Kontakt os</option> 
			        <option value="{{site.baseurl}}/om-os.html">Om os</option>   
			        <option value="{{site.baseurl}}/login_hj.html">Hjælper login</option>  
			        <option value="{{site.baseurl}}/login_kontor.html">Kontor login</option>  
			    </select>
						
			</div>
		</div>