<!-- Footer -->
	<div id="footer" class="container">
		<div class="row footer_inside">
		  <div class="four columns">
		  	<div itemscope itemtype="http://schema.org/Product">
		    <h3><span itemprop="name">Pleje i første klasse</span></h3>
		    <p><span itemprop="description">Human Care gør alt for at skabe et trygt og rart hjem for hver enkel borger. Det gør vi mest af alt gennem nærvær og god kommunikation mellem hjælpere, kontor og borgere. Den personlige pleje og praktiske hjælp er vigtig for vores borgeres velbefindende.</span></p>
		  </div>
		</div>
		  <div class="four columns">
		    <h3 class="margined_left">Åbningstider</h3>
		    <ul class="margined_left">
		    	<li>Kontoret kl 10:00 - 14:00</a></li>
		    	<li>Akut åbent hele døgnet</a></li>
		    </ul>
		  </div>

		  <div class="four columns" itemscope itemtype="http://schema.org/Organization">
		  	<span itemprop="name"><h3>Human Care Nord</h3></span>
		  	<div class='icon_phone' title='Phone'><span itemprop="telephone">+45 36 16 61 00</span></div>
		    <div class='icon_mail' title='Email'><span itemprop="email">info@human-care.nu</span></div>	
		    <div class='icon_loc' title='Location' itemscope itemtype="http://schema.org/PostalAddress">
		    	<span itemprop="streetAddress">Gydevang 39-41</span>, <br>
		    	<span itemprop="postalCode">3450</span>
		    	<span itemprop="addressLocality">Allerød</span>
		    </div>		    
		  	<div class='clear'></div>
		  	<div class='h10'></div>
		  </div> 
		  <div class="four columns" itemscope itemtype="http://schema.org/Organization">
		  	<span itemprop="name"><h3>Human Care Hovedafdeling</h3></span>
		  	<div class='icon_phone' title='Phone'><span itemprop="telephone">+45 36 16 61 00</span></div>
		    <div class='icon_mail' title='Email'><span itemprop="email">info@human-care.nu</span></div>	
		    <div class='icon_loc' title='Location' itemscope itemtype="http://schema.org/PostalAddress">
		    	<span itemprop="streetAddress">Hvidovrevej 350A</span>, <br>
		    	<span itemprop="postalCode">2650</span> 
		    	<span itemprop="addressLocality">Hvidovre</span>
		    </div>	   
		  	<div class='clear'></div>
		  	<div class='h10'></div>
		  </div> 
	  </div> 
	  <div class="clear"></div>
	  <div class="footer_btm">
	  	<div class="footer_btm_inner">
	      	<a href='https://twitter.com/humancareaps' target='_blank' class='icon_tweet' title='Tweeter'>Tweeter</a>    	  	
		  	<a href='https://plus.google.com/u/0/112025869894612140188/posts' target='_blank' class='icon_google' title='Google+'>Google+</a>
		  	<a href='https://www.facebook.com/humancarenu?fref=ts' target='_blank' class='icon_facebook' title='Facebook'>Facebook</a>  
		  	<div id="powered"><a href="" target="_blank">Human Care Copyright</a> © 2015 &nbsp; | &nbsp; <a href="" target="_blank">Wundersen Design</a></div>
		</div>	  
	  </div>
	</div>
	<!-- Footer::END -->

